.user-profile-container {


    width: 80%;
    margin: 30px auto;

}

.user-profile-settings-and-campaigns {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.user-profile-settings {
    flex: 3;
}

.user-profile-campaigns {
    flex: 4;
    max-height: 700px;
    overflow-y: auto;
}

.input-group {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
        font-size: 1.2rem;
        font-weight: bold;
    }

    input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 1rem;
    }
}

.control-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    button {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        font-size: 1rem;
        cursor: pointer;

        &.save {
            background-color: #4CAF50;
            color: white;
        }

        &.sign-out {
            background-color: #f44336;
            color: white;
        }
    }
}

.campaigns-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 24px 0;
}

.campaign-item {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
}

.campaign-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
}

.campaign-item img {
    width: 200px;
    height: 160px;
    object-fit: cover;
}

.campaign-item .campaign-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 16px;
}

.campaign-item h2 {
    margin: 0 0 8px 0;
    font-size: 1.3rem;
    color: #333;
}

.campaign-item p {
    margin: 4px 0;
    color: #666;
    line-height: 1.4;
}

.campaign-item .funding-details {
    margin-top: auto;
    width: 100%;
}

.funding-details{
    display: flex;
    justify-content: end;
}

.campaign-item .progress-bar {
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    margin: 8px 10px;
}

.raised-and-destination {
    margin: 0 auto;
    width: 90%;

    font-size: 14px;
}

.campaign-item .progress-fill {
    height: 100%;
    background-color: #4caf50;
    border-radius: 4px;
}

.user-profile-achievements {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}


.achievements-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 20px;
}

.achievement-item {
    display: flex;
    justify-content: space-between;
    background-color: #b1eeb3;

    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 3px solid #4caf50;


}