.donation-campaign-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.h2-donation-title{
    padding: 15px 0;
}
.ul-donation-list{
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    width: 100%;
}
.li-donation-list{
    border-top: 3px solid #939e9c93;
    padding: 10px 0;
}
.li-donation-list > div{
 margin: 0 15px;
}