.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-href{
    margin: 0 5px;
    background-color: rgb(0, 162, 162);
}
.btn-exit{
    margin-left: 10px;
    background-color: red;
    font-size: 16px;
}
.btn-register{
    margin-left: 10px;
    background-color: green;
    font-size: 16px;
}