.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-href{
    margin: 0 5px;
    background-color: #34A0A4;
}
.btn-exit{
    margin-left: 10px;
    background-color: #34a0a4;
    font-size: 18px;
}
.btn-register{
    margin-left: 10px;
    background-color: green;
    font-size: 18px;
}

.header-navigation{
    width: 100%;
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
}
.nav-campaign-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    font-size: 18px;
}
.img-logo{
    width: 80px;
    height: auto;
    margin-left: 40px;
}
.user-name{
    font-size: 20px;
    color: #fff;
    margin-right: 20px;
}